.image-container {
  display: inline-block;  
}

.user {
  display: flex;
  align-items: center;
  margin: 0 auto 40px auto;}


.myDiv {
  text-align: justify;
  width: 500px;}

.centered{
  text-align: center;
   }

 .flex {
  display: flex;
  align-items: center;}
